
.title {
    height: 100vh;
    width: 100%;
    background-image: url("https://cdn.imgchest.com/files/b49zcke89ky.png");
}

.heading {
    transition-delay: 2s;
    position: absolute;
    margin-top: 250px;
    margin-left: 290px;

}

.heading h1 {
    color: white;
    font-size: 70px;
    margin: 0px;
    font-family: cursive;
    margin-left: 0px;
    text-align: center;
    margin-right: 150px;
}

.heading h2 {
    color: beige;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn{
    background-color: green;
    font-size: 31px;
    border-radius: 4px;
    color: white;
    padding: 15px 35px;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-left: 400px;
    margin-top: 50px;
    viewport-fit: 
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn:hover{
    color: black;
    font-size: 35px;
}
.image1{
    height:100vh;
    width:100%;
    border: none;
    position: absolute;
    z-index: -1;
    margin-left: 0%;
}

.intro{
    height:100vh;
    width:100%;
    position: relative;
}

.image2 {
    margin-left: 800px;
    margin-top: 200px;
   
  }
   @keyframes walk {
    0%   {right: 100px; }
     10%  {right:200px; }
    30%   {right:300px; }
    50%  { right:400px; }
    70%  {right:500px; }
    85%  {right: 600px;} 
    100%  {right:700px;}
  }
   
  /* The element to apply the animation to */
  .image2 {
   
    position: relative;
    width: auto;
    height: 500px;
    
    
     animation-name: walk;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
     
  }
  


.para{
    position: absolute;
    
    color:white;
    font-size:xx-large;
    
    top: 50px;
    bottom: 100px;
    transition-timing-function:ease-in-out;
    transition-duration: 4s;

    
}

.third page{
    width: 100%;
    height: 90vh;
    max-width: 1600px;
    max-height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
}
.map {
    height: calc(50%-20px);
    width: 100%;
    min-height: 500px;
    min-width: 1000px;

    overflow: hidden;

}
.map image{
    width: auto;
    height: 100%;
    object-fit: cover;
    transition: 1s;

}
#buttonToThirdPage{
    background-color: rgb(68, 18, 18);
    font-size: 17px;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-left: 700px;
    margin-top: 100px;
    viewport-fit: 
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.map, #map image {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
